node_red/flows.json
[
    {
        "id": "7e1905b4961397ca",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2081cc5c1c8d32f3",
        "type": "mqtt in",
        "z": "7e1905b4961397ca",
        "name": "",
        "topic": "mediciones/temp_hum",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "96d472d9d8a5d921",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "77522e61f5b055cb",
                "a24e21bbc634297a"
            ]
        ]
    },
    {
        "id": "3797c6f132e3e914",
        "type": "ui_gauge",
        "z": "7e1905b4961397ca",
        "name": "",
        "group": "98c77c4b5f44abeb",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Temperatura actual",
        "label": "units",
        "format": "{{value}}",
        "min": "-40",
        "max": "85",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1210,
        "y": 100,
        "wires": []
    },
    {
        "id": "06ad73d2c2b5d774",
        "type": "ui_gauge",
        "z": "7e1905b4961397ca",
        "name": "",
        "group": "f789958e36761176",
        "order": 1,
        "width": "6",
        "height": "4",
        "gtype": "gage",
        "title": "Humedad actual",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "bb552b57272e1a05",
        "type": "ui_chart",
        "z": "7e1905b4961397ca",
        "name": "",
        "group": "98c77c4b5f44abeb",
        "order": 2,
        "width": "8",
        "height": "4",
        "label": "Temperatura histórico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1220,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "d64c6e7d59048613",
        "type": "ui_chart",
        "z": "7e1905b4961397ca",
        "name": "",
        "group": "f789958e36761176",
        "order": 3,
        "width": "8",
        "height": "4",
        "label": "Humedad histórico",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1210,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "77522e61f5b055cb",
        "type": "function",
        "z": "7e1905b4961397ca",
        "name": "Extract temperature",
        "func": "msg.payload = msg.payload.temp;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 160,
        "wires": [
            [
                "3797c6f132e3e914",
                "bb552b57272e1a05"
            ]
        ]
    },
    {
        "id": "a24e21bbc634297a",
        "type": "function",
        "z": "7e1905b4961397ca",
        "name": "Extract humidity",
        "func": "msg.payload = msg.payload.humidity;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 300,
        "wires": [
            [
                "d64c6e7d59048613",
                "06ad73d2c2b5d774"
            ]
        ]
    },
    {
        "id": "96d472d9d8a5d921",
        "type": "mqtt-broker",
        "name": "",
        "broker": "163.10.140.50",
        "port": "1122",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "98c77c4b5f44abeb",
        "type": "ui_group",
        "name": "Temperatura",
        "tab": "80977514ac80609a",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f789958e36761176",
        "type": "ui_group",
        "name": "Humedad",
        "tab": "80977514ac80609a",
        "order": 2,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "80977514ac80609a",
        "type": "ui_tab",
        "name": "Datos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]